@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansThin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansLight.woff.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansRegular.woff.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansMedium.woff.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansBold.woff.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Motiva Sans';
  src: url(fonts/MotivaSansBlack.woff.ttf);
  font-weight: 900;
}

.results-wrapper {
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.list-wrapper {
  margin-top: 25px;
  display: flex;
}

.filter-button-container {
  padding-top: -500px;
}

.mobile-filter-button-container {
  margin-bottom: 0px;
}

.filter-buttons {
  margin-left: -8px;
}

.filter-wrapper {
  display: inline-flex;
  width: 100%;
}

.button {
  color: #530079;
  padding: 10px 20px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.xbutton {
  border: none;
  background: url(assets/primary-cross.png);
  border-radius: 500px;
}

.xbutton:hover {
  background: url(assets/accent-cross.png);
  transition-duration: 0.4s;
}

.inLine {
  display: inline-block;
}

/* Credit for animated background: https://codepen.io/brucevang/pen/qZOPwR */

@keyframes animatedBackgroundShimmer {
  0%,
  10% {
    background-position: -468px 0;
  }
  90%,
  100% {
    background-position: 468px 0;
  }
}

@keyframes animatedPriceShimmer {
  0% {
    background-position: -150px 0;
  }
  100% {
    background-position: 150px 0;
  }
}

.animated-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: animatedBackgroundShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #bcbcbc 8%, #9e9e9e 18%, #bcbcbc 33%);
  background-size: 1000px 104px;
  height: 96px;
  position: relative;
}

.animated-background-price {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: animatedPriceShimmer;
  background: #f6f7f8;
  background: linear-gradient(
    to right,
    var(--secondary) 8%,
    #198202 18%,
    var(--secondary) 43%
  );
  background-size: 150px 50px;
  height: 96px;
  position: relative;
}

.SortBy {
  background-color: #530079;
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 0px;
  text-align: center;
  font-size: 12pt;
  width: 89px;
  height: 40px;
  transition-duration: 0.4s;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 6px) center;
  background-size: 12px;
}

.SortBy:hover {
  background-color: #b281c2;
}

.view-button {
  background-color: #530079;
  color: white;
  border-radius: 20px;
  border: none;
  padding-right: 25px;
  padding-left: 15px;
  text-align: center;
  font-size: 12pt;
  width: 89px;
  height: 40px;
  transition-duration: 0.4s;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 6px) center;
  background-size: 12px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #b281c2;
}

.filter-button-style {
  background-color: #9e43bd;
  color: var(--white);
  border-radius: 20px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  transition-duration: 0.3s;
}
.filter-button-category {
  background-color: #9e43bd;
  color: var(--white);
  border-radius: 20px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  transition-duration: 0.3s;
}

.filter-button-price {
  background-color: #9e43bd;
  color: var(--white);
  border-radius: 20px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  transition-duration: 0.3s;
}

.filter-button-date {
  background-color: #9e43bd;
  color: var(--white);
  border-radius: 10px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  transition-duration: 0.3s;
}

.filter-button-distance {
  background-color: #9e43bd;
  color: var(--white);
  border-radius: 10px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 2000px;
  transition-duration: 0.3s;
}

.mobile-filter-button-category {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  margin-left: 40px;
  padding-left: 3px;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  transition-duration: 0.3s;
}

.mobile-filter-button-price {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  padding-left: 3px;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  transition-duration: 0.3s;
}

.mobile-filter-button-date {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  margin-left: 40px;
  padding-left: 3px;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  transition-duration: 0.3s;
}

.mobile-filter-button-distance {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  border: none;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  /* margin: 0px 0px; */
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 3px;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  transition-duration: 0.3s;
}

.filter-button:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-button-category:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-button-price:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-button-date:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-button-distance:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-button-style:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.mobile-filter-button-category:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.mobile-filter-button-price:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.mobile-filter-button-date:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.mobile-filter-button-distance:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.filter-wrapper {
  margin-bottom: 15px;
}

.filters-wrapper {
  margin-left: -40px;
  margin-bottom: 20px;
  margin-top: -15px;
}

.filters {
  background-color: white;
  color: #812598;
  margin-right: 0px;
  margin-left: 40px;
  margin-bottom: 15%;
  border-radius: 20px;
  border: solid;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: center;
  font-size: 12pt;
}

.close {
  margin-left: px;
}

:root {
  --primary: #530079;
  --accent: #b281c2;
  --secondary: #1fa702;
  /* --secondary: #498e53; */
  --white: #ffffff;
  --black: #000000;
  --line-color: #00ed80;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --shadow: 0px 3px 50px var(--shadow-color);
  --icon-size: 50px;
  --border-radius: 10px;
  --home-page-image-width: 300px;
  --home-page-image-height: 190px;
  --home-post-wrapper-margin: 10px;
  --horizontal-scroll-behavior: smooth;
}
.hidden {
  display: none;
}

@media (max-width: 860px) {
  html,
  body,
  main {
    /* min-height: 100% !important; */
    height: calc(100% - 95px);
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
}
@media (min-width: 860px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block !important;
  }
}

* {
  font-family: 'Motiva Sans';
}

body {
  margin: 0px;
  min-height: 100vh;
}

h1 {
  font-weight: 800;
  /* margin-top: 45px; */
  /* margin-left: 40px; */
}

/* https://www.tutorialspoint.com/Preventing-an-image-from-being-draggable-or-selectable-in-HTML-without-using-JS#:~:text=On%20double%20click%20on%20a,from%20being%20selected%20(highlighted). */
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width: 860px) {
  #nav-bar-mobile {
    display: block;
    height: 95px;
    padding: 0px 3.2%;
    background-color: var(--white);
  }
  #nav-bar-mobile > nav {
    margin: 0px;
    display: flex;
    align-items: center;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 860px) {
  #nav-bar {
    display: flex;
    justify-content: center;
    height: 95px;

    padding: 0px 3.2%;
    background-color: var(--white);
    box-shadow: var(--shadow);
  }
  #nav-bar > nav {
    max-width: 1900px;
    margin: 0px;
    display: flex;
    align-items: center;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 860px) {
  .mobile-logo {
    grid-area: picture;
  }
  .mobile-logo .featured-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 0;
  }
  .featured-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .mobile-logo .featured-post-shadow {
    position: absolute;
    bottom: 0;
    height: 15vh;
    width: 100vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
  .nav-bar-pic-gradient {
    position: absolute;
    top: 95px;
    height: 8vh;
    width: 100vw;
    background: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
  }

  .home-mobile-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 1.5fr 4fr;
    /* grid-template-rows: 3fr repeat(4, 1fr); */
    grid-template-areas: 'picture';
    /* grid-template-areas: 'picture picture'; */
    box-sizing: border-box;
    /* padding: 10px; */
    /* grid-gap: 10px; */
  }

  .home-mobile-grid > .sub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    grid-gap: 10px;
  }

  .home-mobile-grid > .sub-grid .category-wrapper {
    height: 100%;
    width: 100%;
  }

  .home-mobile-grid > .sub-grid .category-wrapper .category-image-wrapper {
    position: relative;
    overflow: hidden;
    /* height: var(--home-page-image-height); */
    height: 100%;
    /* width: var(--home-page-image-width); */
    width: 100%;
    /* background: rgb(196, 196, 196); */
    background-color: var(--white);
    border-radius: var(--border-radius);
    font-size: 10%;
  }
  .home-mobile-grid > .sub-grid .category-wrapper .category-text-wrapper {
    width: 80%;
    height: 80%;
  }

  .burger-container {
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    border-radius: 10px;
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    margin: 6px 0;
    transition: 0.4s;
  }

  .menuItem {
    display: block;
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary);
    border-radius: 10px;
    text-decoration: none;
  }

  #add-post-mobile {
    margin-top: 648px;
    margin-left: 20px;
  }

  #profile-mobile {
    margin-top: 20px;
  }

  #my-posts-mobile {
    margin-top: 20px;
  }

  #language-mobile {
    margin-top: 20px;
  }

  .menuItem:hover {
    color: var(--accent);
  }

  .hamburger {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: transparent;
    background: transparent;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu-mobile {
    position: absolute;
    visibility: hidden;
    position: (1000px, 1000px);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: white;
    list-style: none;
    border-radius: 10px;
  }

  .showMenu {
    visibility: visible;
    transform: translate(100px, 100px);
    height: 840px;
    margin-top: -730px;
    margin-left: calc(100% - 240px);
    padding: 0px;
  }
}
.undraggable {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* cursor: default !important; */
}

/* TODO: fade menu in */
.menu-open {
  display: block !important;
  opacity: 1 !important;
}

/* TODO: update location selector divs based on screen size to either make it one line or two lines */
.location-selector {
  display: inline-flex;
  align-items: center;
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: var(--primary);
  color: var(--primary);
  padding: 5px 7px;
  /* font-size: 24px; */
  font-weight: 700;
  background-color: transparent;
  transition: background-color 0.3s;
}

.location-selector:hover {
  background-color: #d997f051;
  cursor: pointer;
}

.location-down {
  position: relative;
}

.location-dropdown * {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.location-dropdown .menu {
  overflow: hidden;
  max-width: 250px;
  min-width: 200px;
  list-style: none;
  padding: 0px 0px;
  font-size: 14pt;
  background: var(--white);
  /* border: 1px var(--black) solid; */
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.236);
  border-radius: var(--border-radius);
  color: var(--black);
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -35vw; */
  margin-top: 35px;
  opacity: 0;
  display: none;
  z-index: 10;
}

@media (min-width: 860px) and (max-width: 1900px) {
  .location-dropdown .menu {
    margin-left: -35vw;
  }
}
@media (min-width: 1900px) {
  .location-dropdown .menu {
    /* margin-left: calc(-1900px / 2 + 0.35 * 1900px); */
    margin-left: calc(-35vw);
  }
}

.location-dropdown .menu * {
  background-color: var(--white);
  font-weight: 400;
  transition: background-color 0.3s;
}

.location-dropdown .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.location-dropdown .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.category-dropdown-content .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.price-dropdown-content .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.distance-dropdown-content .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.date-dropdown-content .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.location-dropdown .menu *:hover {
  background-color: #d997f051;
  font-weight: 700;
  cursor: pointer;
}

.location-dropdown .menu li {
  padding: 8px 18px;
}

.location-selector span {
  display: inline-block;
  padding: 0px 3px;
}

.location-selector img {
  transition: rotate 0.3s;
  rotate: 0deg;
  width: 25px;
  height: 25px;
}

.location-selector:hover img {
  rotate: 90deg;
}

.location-selector-clicked img {
  rotate: 90deg !important;
}

.location-selector br {
  height: 5px;
}

.location-selector h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mobile-location-selector {
  display: inline-flex;
  align-items: center;
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: var(--primary);
  color: var(--primary);
  padding: 5px 7px;
  margin-left: 10px;
  margin-right: 10px;
  /* font-size: 24px; */
  font-weight: 700;
  background-color: transparent;
  transition: background-color 0.3s;
}

.mobile-location-selector:hover {
  background-color: #d997f051;
  cursor: pointer;
}

.mobile-location-dropdown {
  position: relative;
}

.mobile-location-dropdown * {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mobile-location-dropdown .menu {
  overflow: hidden;
  max-width: 250px;
  min-width: 200px;
  list-style: none;
  padding: 0px 0px;
  font-size: 14pt;
  background: var(--white);
  /* border: 1px var(--black) solid; */
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.236);
  border-radius: var(--border-radius);
  color: var(--black);
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  margin-top: 20px;
  z-index: 20;
}

.mobile-location-dropdown .menu * {
  background-color: var(--white);
  font-weight: 400;
  transition: background-color 0.3s;
}

.mobile-location-dropdown .menu .selected {
  color: var(--primary);
  font-weight: 800 !important;
}

.mobile-location-dropdown .menu *:hover {
  background-color: #d997f051;
  font-weight: 700;
  cursor: pointer;
}

.mobile-location-dropdown .menu li {
  padding: 8px 18px;
}

.mobile-location-selector span {
  display: inline-block;
  padding: 0px 3px;
}

.mobile-location-selector img {
  transition: rotate 0.3s;
  rotate: 0deg;
  width: 25px;
  height: 25px;
}

.mobile-location-selector:hover img {
  rotate: 90deg;
}

.mobile-location-selector-clicked img {
  rotate: 90deg !important;
}

.mobile-location-selector br {
  height: 5px;
}

.mobile-location-selector h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

select:focus {
  outline: none !important;
}

.flex-spacer {
  flex-grow: var(--flex, 1);
}

@media (max-width: 860px) {
  .logo {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
@media (min-width: 860px) {
  .logo {
    width: 64px;
    height: 64px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  overflow: hidden;
}

.search-bar {
  height: 60px;
  width: 100%;
  /* width: calc(100% - 64px); */
  border-style: solid;
  border-radius: var(--border-radius);
  border-color: var(--primary);
  border-width: 2px;
  font-size: large;
  padding: 5px 15px 5px 45px;
  font-size: 14pt;
  color: var(--black);
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url(assets/icons/x.svg);
  cursor: pointer;
}

.search-bar:focus {
  outline: none !important;
}

.search-bar-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 25px;
  height: 25px;
}

.nav-bar-span {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (min-width: 1900px) {
  .center-margin {
    margin-left: calc((100vw - 3.2vw - 1900px) / 2);
  }
}

#page-margin {
  margin: 0px 3.2vw 70px;
  overflow-wrap: break-word;
  max-width: 1900px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: 50%;
  overflow: hidden;
}

.circular-button {
  transition: background-color 0.3s;
  background-color: var(--primary);
  color: var(--white);
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.horizontal-scroll {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: var(--horizontal-scroll-behavior);
  -webkit-overflow-scrolling: touch;
  padding: 10px 0px;
  scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
  -webkit-appearance: none;
}

.posts-scroll-button {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  top: -26px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.posts-scroll-button img {
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  opacity: 50%;
}
.posts-scroll-button img:hover {
  opacity: 100%;
}
.posts-scroll-button:disabled img,
.posts-scroll-button[disabled] img {
  opacity: 30% !important;
}

.posts-container {
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-wrapper {
  display: inline-block;
  width: var(--home-page-image-width);
  margin: 5px var(--home-post-wrapper-margin);
}

.post-wrapper p {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  max-lines: 1;
  margin: 15px 0px;
  text-overflow: ellipsis;
}

/* .post-text {
  position: relative;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -75px;
  padding: 0px 10px;
  color: var(--white);
} */

.price-distance-wrapper {
  --distance-from-corner: 10px;
  display: flex !important;
  flex-direction: column;
  position: absolute;
  justify-content: end;
  align-items: end;
  right: var(--distance-from-corner);
  bottom: var(--distance-from-corner);
  color: var(--white);
}

.price-distance-wrapper p {
  font-weight: 500;
  font-size: 12pt;
  margin: 0px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.post-price-shadow {
  position: absolute;
  margin: 0px;
  height: 120px;
  width: 100%;
  bottom: -25px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.price {
  /* display: inline-block; */
  position: relative;
  justify-content: end;
  /* top: -72px; */
  /* left: 162px; */
  padding: 10px 10px;
  border-radius: var(--border-radius);
  font-weight: 400;
  color: var(--white);
  background-color: var(--secondary);
  font-weight: 500;
  font-size: 12pt;
}

@media (min-width: 860px) {
  .hover-outline {
    transition: outline 0.5s;
    outline: var(--primary) solid 0px;
  }

  .hover-outline:focus,
  .hover-outline:hover {
    outline: var(--primary) solid 8px;
    outline-offset: 3px;
  }
}

@media (min-width: 860px) {
  .image-wrapper {
    position: relative;
    overflow: hidden;
    height: var(--home-page-image-height);
    min-height: var(--home-page-image-height);
    width: var(--home-page-image-width);
    min-width: var(--home-page-image-width);
    /* background: rgb(196, 196, 196); */
    background-color: var(--white);
    border-radius: var(--border-radius);
  }

  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.time-on-image {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  padding: 3px 8px 3px 8px;
  color: white;
  background: rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circular-button:hover {
  background-color: var(--accent);
}

.title {
  display: flex;
  float: left;
  justify-content: space-between;
  font-weight: 700;
  margin-right: 25%;
  font-size: larger;
}

.distance {
  color: #636363;
}

.category-text {
  color: var(--white);
  margin: 0px;
  padding: 0px;
  font-size: 32pt;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  --blur-radius: 4px;
  --brightness-val: 50%;
  filter: brightness(var(--brightness-val)) blur(var(--blur-radius));
  -webkit-filter: brightness(var(--brightness-val)) blur(var(--blur-radius));
  -moz-filter: brightness(var(--brightness-val)) blur(var(--blur-radius));
  -o-filter: brightness(var(--brightness-val)) blur(var(--blur-radius));
  -ms-filter: brightness(var(--brightness-val)) blur(var(--blur-radius));
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.center-horizontally {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-top: -60px;
}

.center-horizontally > h2 {
  text-align: center;
}

.center-horizontally-list {
  margin-left: 50px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

.center-vertically {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button {
  color: var(--primary);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
}

.button-container {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
}

/* .categories-text {
  padding: 5px;
  color: black;
  text-decoration: none;
}
.categories-text:hover {
  background-color: var(--accent);
  border-radius: 5px;
  cursor: pointer;
} */

.sub-categories-buttons {
  padding-bottom: 10px;
  margin-left: 2px;
  font-size: 17px;
  font-weight: 500;
}

#price-slider {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}

#distance-slider {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}

#date-picker {
  font-size: 30px;
  font-weight: 800;
}

.date-input {
  margin-left: 7px;
  font-size: 15px;
  font-weight: 6 00;
}

#date-input-from {
  margin-top: 7px;
  margin-bottom: 5px;
}

.price-slider-container {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
}

.distance-slider-container {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
}

.price-content {
  display: flex;
  justify-content: space-between;
}

.distance-content {
  display: flex;
  justify-content: space-between;
}

#price-min-value {
  font-size: 16px;
  font-weight: 600;
}

#price-current-value {
  font-size: 16px;
  font-weight: 600;
}

#max-value {
  font-size: 16px;
  font-weight: 600;
}

#min-value {
  font-size: 16px;
  font-weight: 600;
}

#price-max-value {
  font-size: 16px;
  font-weight: 600;
}

#distance-min-value {
  font-size: 16px;
  font-weight: 600;
}

#distance-current-value {
  font-size: 16px;
  font-weight: 600;
}

#distance-max-value {
  font-size: 16px;
  font-weight: 600;
}

.range-slider {
  width: 350px;
  position: relative;
}

input[type='range'] {
  appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}
.filter-bar-container {
  position: relative;
  display: inline;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 30px;
  margin-top: -30px;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  width: 500px;
  height: 935px;
}

.sort-by-button {
  color: white;
  background-color: var(--primary);
  font-size: 40px;
  border-radius: 10px;
}

.sort-by-button:hover,
.sort-by-button:focus {
  cursor: pointer;
  background-color: var(--accent);
}

label {
  font-weight: 500;
}

input::-webkit-calendar-picker-indicator:hover {
  background-color: rgb(200, 152, 200);
  cursor: pointer;
}

#date-from {
  margin-left: 3px;
}

#date-to {
  margin-left: 22px;
}

.dropdown-sort-text {
  display: none;
  position: absolute;
  background-color: var(--primary);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-sort-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-view-text {
  display: none;
  position: absolute;
  margin-left: 100px;
  background-color: var(--primary);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-view-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-category-text {
  display: none;
  position: absolute;
  margin-left: 10px;
  background-color: #9e43bd;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-category-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-category-text a:hover {
  color: white;
  background-color: #bc88cd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-price-text {
  display: none;
  position: absolute;
  margin-left: 169px;
  background-color: #9e43bd;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-price-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-price-text a:hover {
  color: white;
  background-color: #bc88cd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-date-text {
  display: none;
  position: absolute;
  margin-left: 320px;
  background-color: #9e43bd;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-date-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-date-text a:hover {
  color: white;
  background-color: #bc88cd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-distance-text {
  display: none;
  position: absolute;
  margin-left: 480px;
  background-color: #9e43bd;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-distance-text a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-distance-text a:hover {
  color: white;
  background-color: #bc88cd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.button-container a:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.container-arrow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next-arrow {
  margin-top: 55px;
  margin-left: 20px;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 80px;
  width: 80px;
  opacity: 0.5;
}

.next-arrow:hover {
  margin-top: 55px;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 80px;
  width: 80px;
  transition: opacity 0.3s;
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .right-arrow-icon {
  height: 40%;
  width: 40%;
  margin-left: 30px;
  margin-top: 48px;
  opacity: 0.5;
} */

/* .right-arrow-icon:hover {
  height: 40%;
  width: 40%;
  margin-left: 30px;
  margin-top: 48px;
  transition: opacity 0.5s;
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
} */

.main_picture {
  position: absolute;
  top: 200px;
  background: #f0f0f0;
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 21%;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 30%;
}

figure {
  display: inline-block;
  padding: 10px;
  margin: 0 1em 0 0;
  vertical-align: top;
}

figure.right figcaption {
  float: right;
  font-weight: 400;
  font-size: 20px;
}

.comments {
  font-weight: 200;
  text-indent: 79%;
}

.main_comments {
  position: absolute;
  top: 77%;
  background: #f0f0f0;
  border-radius: 25px;
  padding-top: 20px;
  padding-right: 1%;
  padding-bottom: 13%;
  padding-left: 20px;
  margin-bottom: 20%;
  margin-top: 20px;
  margin-left: 75%;
}

.main_comments_inside {
  position: absolute;
  top: 90px;
  background: #d4d4d4;
  border-radius: 30px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 5%;
  padding-left: 20px;
  margin-bottom: 21%;
  margin-left: -15px;
  margin-right: 5px;
}

.next_arrow_comment {
  margin-top: 100px;
  margin-left: 95%;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.next_arrow_comment:hover {
  margin-top: 100px;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 40px;
  width: 40px;
  transition: opacity 0.3s;
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.previous_arrow_comment {
  margin-top: -40px;
  margin-left: 72.5%;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 40px;
  width: 40px;
  opacity: 0.5;
  transform: rotate(180deg);
}

.previous_arrow_comment:hover {
  margin-top: -40px;
  background-image: url(assets/arrow-right-new.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: rgba(128, 128, 128, 0);
  height: 40px;
  width: 40px;
  transition: opacity 0.3s;
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer div {
  text-align: left;
}
.col-1 {
  flex-grow: 2;
}
.col-2 {
  flex-grow: 2;
}
.col-3 {
  flex-grow: 2;
}
.col-4 {
  flex-grow: 2;
}
.col-5 {
  flex-grow: 2;
}
.col-2 a {
  display: block;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 10px;
}
.col-3 a {
  display: block;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 10px;
}
.col-4 a {
  display: block;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 10px;
}
.col-5 a {
  display: block;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 10px;
}
.storebutton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
.appstore img {
  width: 160px;
  height: 50px;
}
.googleplay img {
  width: 160px;
  height: 50px;
}

.post-results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 1000px;
  width: 100%;
  overflow-wrap: break-word;
  margin-top: 30px;
}

@media (max-width: 860px) {
  .search-post-wrapper {
    display: block;
    box-sizing: border-box;
    width: calc(100vw - max(15px, 5vw));
    margin-bottom: 30px;
    padding: 0px max(15px, 5vw);
    padding-top: 10px;
    padding-bottom: max(30px, 10vw);
  }

  .search-post-wrapper div {
    display: inline-block;
  }

  .search-post-wrapper > .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3 / 2;
    /* background: rgb(196, 196, 196); */
    background-color: var(--white);
    border-radius: var(--border-radius);
  }

  .search-post-wrapper > .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  .search-post-wrapper .text-wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 15px;
    white-space: normal;
  }

  .search-post-wrapper .result-post-attributes {
    position: relative;
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
  }

  .text-wrapper h3 {
    margin-top: 0px;
    color: var(--black);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-wrapper h3:hover {
    color: var(--primary) !important;
    text-decoration-color: var(--primary) !important;
    -webkit-text-decoration-color: var(--primary) !important;
  }

  .text-wrapper h3:hover a:hover {
    color: var(--primary) !important;
    text-decoration-color: var(--primary) !important;
    -webkit-text-decoration-color: var(--primary) !important;
  }

  .text-wrapper > .description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .text-wrapper a {
    text-decoration: none;
  }

  .text-wrapper a:hover {
    text-decoration: underline;
  }

  .text-wrapper div {
    display: block;
    align-items: start;
  }

  .text-wrapper span {
    margin-right: 10px;
  }
}
@media (min-width: 860px) {
  .search-post-wrapper {
    max-height: var(--home-page-image-height);
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  .search-post-wrapper div {
    display: inline-block;
  }

  .search-post-wrapper .text-wrapper {
    display: block;
    position: relative;
    height: 190px;
    width: 100%;
    margin-left: 15px;
    white-space: normal;
  }

  .search-post-wrapper .result-post-attributes {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
  }

  .text-wrapper h3 {
    margin-top: 0px;
    color: var(--black);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-wrapper h3:hover {
    color: var(--primary) !important;
    text-decoration-color: var(--primary) !important;
    -webkit-text-decoration-color: var(--primary) !important;
  }

  .text-wrapper h3:hover a:hover {
    color: var(--primary) !important;
    text-decoration-color: var(--primary) !important;
    -webkit-text-decoration-color: var(--primary) !important;
  }

  .text-wrapper > .description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .text-wrapper a {
    text-decoration: none;
  }

  .text-wrapper a:hover {
    text-decoration: underline;
  }

  .text-wrapper div {
    display: block;
    align-items: start;
  }

  .text-wrapper span {
    margin-right: 10px;
  }
}

.in-line-children * {
  display: inline-block;
}

.RevealPhonebutton {
  background-color: #530079;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  text-align: center;
  font-size: 16pt;
  width: 400px;
  height: 65px;
  transition-duration: 0.4s;
  margin-left: 2%;
}
.RevealPhonebutton:hover {
  background-color: #812598;
}

.messagesellerbutton {
  background-color: var(--secondary);
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 0px;
  text-align: center;
  font-size: 16pt;
  width: 400px;
  height: 65px;
  transition-duration: 0.4s;
}
.messagesellerbutton:hover {
  background-color: #00ed80;
}

.clickable-text {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
}

.clickable-text * {
  color: var(--black);
}

.clickable-text:hover {
  text-decoration: underline;
}

.clickable-text:hover * {
  color: var(--primary);
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
#toast {
  visibility: hidden;
  min-width: 150px;
  max-width: 400px;
  margin-left: -125px;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--white);
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.5);
  padding: 16px;
  font-size: 14pt;
  font-weight: 500;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 80px;
}

#toast.show-toast {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

.round-buttons {
  background-color: #5e0c84b5;
  color: white;
  border-radius: 10px;
  border: none;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  margin-bottom: 10px;
  margin-right: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  width: 150px;
  height: 45px;
  transition-duration: 0.3s;
}

.round-buttons:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.round-buttons:focus {
  background-color: var(--primary);
  cursor: pointer;
}

.sort-by-container {
  margin-left: 25px;
  position: relative;
  display: inline-flex;
}

#sort-by-text {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: -5px;
}

#categories-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 800;
}

.categories-round-container {
  margin-left: 25px;
  position: relative;
  display: inline-flex;
}

.sort-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 175px;
  margin-bottom: 10px;
}

.sort-grid > button {
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius);
  border: none;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 12px;
  margin-bottom: 10px;
  margin-right: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* credit: https://stackoverflow.com/a/4625164/21266350 */
.sort-grid > button:hover {
  -webkit-box-shadow: inset 0 0 20px var(--accent);
  -moz-box-shadow: inset 0 0 20px var(--accent);
  box-shadow: inset 0 0 20px var(--accent);
}

.sort-grid > button.selected {
  background-color: var(--primary) !important;
  color: var(--white);
  font-weight: 700;
}

.dropdown-selector {
  display: inline-flex;
  align-items: center;
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: white;
  color: white;
  padding: 5px 7px;
  /* font-size: 24px; */
  font-weight: 700;
  background-color: var(--primary);
  transition: background-color 0.3s;
  margin-bottom: 15px;
  margin-top: -20px;
}

.dropdown-selector:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.dropdowm-selector span {
  display: inline-block;
  padding: 0px 3px;
}

.dropdown-selector img {
  transition: rotate 0.3s;
  width: 25px;
  height: 25px;
}

.dropdown-selector br {
  height: 5px;
}

.dropdown-selector h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* .mobile-post {
  width: 100%;
  padding: 5vw;
} */
@media (max-width: 860px) {
  .filter-bar-container {
    display: none !important;
  }
}

@media (min-width: 860px) and (max-width: 1200px) {
  .filter-bar-container {
    display: inline-flex;
  }
  .filter-bar-container {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .filter-dropdown {
    display: none !important;
  }
  .filter-bar-container {
    display: inline;
  }
}
.drop-button {
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  padding: 7px;
  font-size: 20px;
  font-weight: 600;
  width: 105px;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  /* background-size: 105px 105px; */
  background-repeat: no-repeat;
  background-position-x: 80px;
  background-position-y: 15px;
  background-size: 18px;
  border: none;
  cursor: pointer;
}

.price-drop-button {
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  padding: 7px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  width: 85px;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  /* background-size: 105px 105px; */
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 15px;
  background-size: 18px;
  border: none;
  cursor: pointer;
}

.date-drop-button {
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  padding: 7px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  width: 80px;
  margin-top: 10px;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  /* background-size: 105px 105px; */
  background-repeat: no-repeat;
  background-position-x: 57px;
  background-position-y: 15px;
  background-size: 18px;
  border: none;
  cursor: pointer;
}

.distance-drop-button {
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  padding: 7px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  width: 120px;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  /* background-size: 105px 105px; */
  background-repeat: no-repeat;
  background-position-x: 95px;
  background-position-y: 15px;
  background-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.category-drop-button {
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  padding: 7px;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  width: 125px;
  background-image: url('assets/arrow-bruh.png'); /* temporary until an arrow svg is made */
  /* background-size: 105px 105px; */
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 15px;
  background-size: 18px;
  border: none;
  cursor: pointer;
}

.price-drop-button:hover {
  transition: 0.3s;
  background-color: var(--accent);
}
.date-drop-button:hover {
  transition: 0.3s;
  background-color: var(--accent);
}
.date-drop-button:hover {
  transition: 0.3s;
  background-color: var(--accent);
}
.category-drop-button:hover {
  transition: 0.3s;
  background-color: var(--accent);
}

.distance-drop-button:hover {
  transition: 0.3s;
  background-color: var(--accent);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.category-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 135px;
  font-size: 17px;
  font-weight: 400;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
  margin-top: 5px;
  margin-left: -2px;
}

.category-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.category-dropdown-content a:hover {
  background-color: #d997f051;
  transition: 0.2s;
  font-weight: 700;
  cursor: pointer;
}

.price-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 116px;
  font-size: 17px;
  font-weight: 400;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
  margin-left: -13px;
  margin-top: 5px;
}

.price-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.price-dropdown-content a:hover {
  background-color: #d997f051;
  transition: 0.2s;
  font-weight: 700;
  cursor: pointer;
}

.date-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 17px;
  font-weight: 400;
  width: 110px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
  margin-left: -10px;
  margin-top: 5px;
}

.date-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.date-dropdown-content a:hover {
  background-color: #d997f051;
  transition: 0.2s;
  font-weight: 700;
  cursor: pointer;
}

.distance-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 115px;
  font-size: 17px;
  font-weight: 400;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
  margin-top: 5px;
  margin-left: 4px;
}

.distance-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.distance-dropdown-content a:hover {
  background-color: #d997f051;
  transition: 0.2s;
  font-weight: 700;
  cursor: pointer;
}

.dropdown .category-dropdown-content .selected {
  color: var(--primary);
  font-weight: 800 !important;
}
.dropdown .price-dropdown-content .selected {
  color: var(--primary);
  font-weight: 800 !important;
}
.dropdown .distance-dropdown-content .selected {
  color: var(--primary);
  font-weight: 800 !important;
}
.show {
  display: block;
}

@media (min-width: 1100px) {
  .post-page-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title title';
    gap: 20px;
  }
}

@media (max-width: 1100px) {
  .post-page-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 'title';
    gap: 20px;
  }
}

.post-content-wrapper {
  background-color: #f0f0f0;
  border-radius: var(--border-radius);
  padding: 25px;
}

.picture-carousel {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.picture-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.post-properties-parent p {
  margin: 0px;
}
.post-properties-parent span {
  margin: 15px 0px;
}

.post-author-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-author-price-wrapper .post-price-wrapper {
  background-color: var(--secondary);
  color: var(--white);
}

.post-author-price-wrapper #price {
  color: var(--secondary);
}

.slideshow-container {
  width: 100%;
  position: relative;
}

.slideshow-container .mySlides {
  width: 100%;
  aspect-ratio: 30 / 19;
}

.slideshow-container .mySlides > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.container {
  max-width: 1900px;
  margin: auto;
}
.footer {
  background: var(--primary);
  padding: 60px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 15%;
  padding: 0 15px;
}
.footer-col h3 {
  color: white;
  left: 10px;
}
.footer-col h6 {
  color: white;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li {
  margin-top: 20px;
}
.footer-col ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: beige;
  padding: 6px;
}
@media screen and (max-width: 900px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-col h3::before {
    top: 500px;
  }
}
